.forumDialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dialogs {
    padding: 20px;
}

.dialogsList {
    padding: 0;
    margin: 0;
}

.dialogsList .active {
    color: palevioletred;
}

.dialogsList .item {
    font-size: 18px;
    margin-bottom: 20px;
}

.dialogsList a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.dialogsList .active {
    color: palevioletred;
}

.messagesList {
    padding: 0;
    margin: 0;
}

.messagesList .item {
    padding: 15px;
    width: 170px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.messages {
    padding: 20px;
}

.messagesField {
    display: grid;
    column-gap: 10px;
    grid-column: 2/3;
    padding: 10px;
}

.text {
    resize: none;
}

.buttonMessages {
    display: inline-block;
    align-self: end;
    box-sizing: border-box;
    font-family: inherit;
    width: 110px;
    padding: 10px;
    grid-column: 2/3;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonMessages:hover {
    opacity: 0.9;
}

.buttonMessages:focus {
    outline: 1px solid pink;
}

.buttonMessages:active {
    color: pink;
    opacity: 0.9;
}