footer {
    grid-row: 3/4;
    width: 1220px;
    padding: 20px 60px;
    background-color: pink;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.item {
    color: black;
    list-style-type: none;
}