footer {
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 10px 30px;
    background-color: black;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.item {
    color: white;
    list-style-type: none;
}