.navigation {
    grid-column: 1/2;
    padding: 30px;
    background-color: black;
}

.menu {
    margin: 0;
    padding: 0;
}

.item {
    font-size: 20px;
}

.item a {
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
}

.item a.active {
    color: pink;
}