.navigation {
    grid-column: 1/2;
    padding: 10px 30px;
    background-color: black;
}

.menu {
    margin: 0;
    padding: 0;
}

.item {
    color: white;
    list-style-type: none;
    text-transform: uppercase;
}

.item.active {
    color: pink;
}